[Unit]
Description=Journal to telegram
Documentation=https://github.com/nailgun/telejournal
Wants=network.target
After=network.target

[Service]
EnvironmentFile=%h/.config/telejournal.env
ExecStart=/usr/local/bin/telejournal

[Install]
WantedBy=multi-user.target
