[Unit]
Description=Telegram notification for %I
Documentation=https://github.com/lukasdietrich/telejournal
Wants=network.target
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/usr/local/etc/telejournal/telegram.env
ExecStart=/usr/local/bin/telejournal --system "%i"
Group=systemd-journal
